.dropzone {
    @apply pointer-events-none fixed inset-0 flex justify-center opacity-0;
    z-index: 999;
}

:where(.dropzone) {
    @apply items-center;
}

.dropzone-open,
.dropzone:target,
.dropzone-toggle:checked+.dropzone {
    @apply pointer-events-auto opacity-100;
}

.dropzone-action {
    @apply flex;
}

.dropzone-toggle {
    @apply fixed h-0 w-0 appearance-none opacity-0;
}

.dropzone {
    @apply bg-neutral-focus text-primary-content bg-opacity-40 duration-200 ease-in-out m-4 border-dashed border-accent-content border-2 text-lg;
    transition-property: transform, opacity, visibility;
    overflow-y: hidden;
    overscroll-behavior: contain;
}


.dropzone-action {
    @apply mt-6 justify-end space-x-2;
}