.loading-cover {
    @apply pointer-events-none fixed inset-0 flex flex-col justify-center opacity-0;
    z-index: 999;
}

:where(.loading-cover) {
    @apply items-center;
}

.loading-cover-open,
.loading-cover:target,
.loading-cover-toggle:checked+.loading-cover {
    @apply pointer-events-auto opacity-100;
}

.loading-cover-action {
    @apply flex;
}

.loading-cover-toggle {
    @apply fixed h-0 w-0 appearance-none opacity-0;
}

.loading-cover {
    @apply bg-neutral-focus text-primary-content bg-opacity-80 duration-200 ease-in-out text-lg;
    transition-property: transform, opacity, visibility;
    overflow-y: hidden;
    overscroll-behavior: contain;
}


.loading-cover-action {
    @apply mt-6 justify-end space-x-2;
}